@model MVCPresentationLayer.Models.ApplicationUser



<h2>@ViewBag.Title</h2>

<div>
    <h4>ApplicationUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GivenName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GivenName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FamilyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FamilyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.EmailConfirmed)
        </dd>

        <dt>
            Phone Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.PhoneNumberConfirmed)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.TwoFactorEnabled)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.LockoutEndDateUtc)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.LockoutEnabled)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.AccessFailedCount)
        </dd>

        <dd>
            @Html.HiddenFor(model => model.UserName)
        </dd>

        <dt>
            Assigned Roles:
        </dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.Roles)
                {
                    <li>
                        <strong>
                            @r @Html.ActionLink("Remove Role", "RemoveRole",
                           new { Email = ViewBag.User.Email, Role = r })
                        </strong>
                        @if(r == "Administrator")
                        {
                            <span style="color: red; font-weight: bold;">@ViewBag.Error</span>
                        }
                    </li>
                }
            </ul>
        </dd>
        <dt>
            Unassigned Roles:
        </dt>

        <dd>
            <ul>
                @foreach (string r in ViewBag.NoRoles)
                {
                    <li>
                        <strong>
                            @r @Html.ActionLink("Add Role", "AddRole",
                           new { Email = ViewBag.User.Email, Role = r })
                        </strong>
                    </li>
                }
            </ul>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
