@model IEnumerable<DataObject.TrainScheduleLineVM>

<table>
    <tr>
        <th>
            <h2>@ViewBag.Title</h2>
        </th>
        @{
            if (ViewBag.Roles != null && ViewBag.Roles.Contains("Manager"))
            {
                <th style="width:60px;"></th>
                <th>
                    @Html.ActionLink("Create New Train Schedule", "CreateNewTrainSchedule")
                </th>
            }
        }
    </tr>
</table>

<table class="table">
    <tr>
        <th>
            Route Number
        </th>
        <th>
            Arrival Time
        </th>
        <th>
            Station Name
        </th>
        <th>
            Train Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.RouteID
            </td>
            <td>
                @item.ArrivalTime
            </td>
            <td>
                @Html.ActionLink(item.StationName, "StationDetails", "TrainSchedule", new { id = item.StationStartID }, null)
            </td>
            <td>
                @Html.ActionLink(item.TrainName, "TrainDetails", "TrainSchedule", new { id = item.TrainID, name = item.TrainName, route = item.RouteID }, null)
            </td>
            <td>
                @Html.ActionLink("Edit Train", "TrainEdit", new { id = item.TrainID }) |
                @Html.ActionLink("Edit Station", "StationEdit", new { stationID = item.StationStartID })
            </td>
        </tr>
    }
</table>