@model MVCPresentationLayer.Models.IndexViewModel

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create password", "SetPassword")
            }
            ]
        </dd>
    </dl>
    <dl class="dl-horizontal">

        @{
            string userEmail = ViewBag.User.Email;
            if (Model.PhoneNumber != null && Model.PhoneNumber != "")
            {
                <dt>Phone Number:</dt>
                <dd>
                    <table>
                        <tr>
                            <td>
                                
                                
                                @Model.PhoneNumber
                            </td>
                            <td style="width:30px;"></td>
                            <td>
                                @Html.ActionLink("Edit number", "EditPhoneNumber",
                               new { email = userEmail })
                            </td>
                        </tr>
                    </table>
                </dd>
            }
            else
            {
                @Html.ActionLink("Add Phone Number", "AddPhoneNumber")
            }
        }
    </dl>
</div>
